# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.gitattributes
*.sh
# Exclude testing-related output
*/src/test/test-output/
# e.g. config/yaml/...
*/*/src/test/test-output/

.kotlin/
jars/